# Reading data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dataset/disease-symptoms.csv')

In [3]:
df.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

In [4]:
df.shape

(349, 10)

In [5]:
df.dtypes

Disease                 object
Fever                   object
Cough                   object
Fatigue                 object
Difficulty Breathing    object
Age                      int64
Gender                  object
Blood Pressure          object
Cholesterol Level       object
Outcome Variable        object
dtype: object

In [6]:
df.isnull().sum()

Disease                 0
Fever                   0
Cough                   0
Fatigue                 0
Difficulty Breathing    0
Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Outcome Variable        0
dtype: int64

# Preprocessing

In [7]:
boolean_columns = ['Fever', 'Cough', 'Fatigue', 'Difficulty Breathing']

In [8]:
def to_boolean(columns: list):
    for col in columns:
        df[col] = df[col].replace({'Yes': True, 'No' : False})

In [ ]:
to_boolean(boolean_columns)

In [10]:
df[boolean_columns]

     Fever  Cough  Fatigue  Difficulty Breathing
0     True  False     True                  True
1    False   True     True                 False
2    False   True     True                 False
3     True   True    False                  True
4     True   True    False                  True
..     ...    ...      ...                   ...
344   True  False     True                 False
345   True  False     True                 False
346   True  False     True                 False
347   True  False     True                 False
348   True  False     True                 False

[349 rows x 4 columns]

In [13]:
df[boolean_columns].dtypes

Fever                   bool
Cough                   bool
Fatigue                 bool
Difficulty Breathing    bool
dtype: object

In [11]:
df['Blood Pressure'].unique()

array(['Low', 'Normal', 'High'], dtype=object)

In [12]:
df['Cholesterol Level'].unique()

array(['Normal', 'Low', 'High'], dtype=object)

In [14]:
def to_numeric(columns: list):
    for col in columns:
        df[col] = df[col].replace({'Low' : 0, 'Normal': 1, 'High': 2})

In [ ]:
to_numeric(['Blood Pressure', 'Cholesterol Level'])

In [17]:
df[['Blood Pressure', 'Cholesterol Level']]

     Blood Pressure  Cholesterol Level
0                 0                  1
1                 1                  1
2                 1                  1
3                 1                  1
4                 1                  1
..              ...                ...
344               2                  2
345               2                  2
346               2                  2
347               2                  2
348               2                  2

[349 rows x 2 columns]

In [18]:
df[['Blood Pressure', 'Cholesterol Level']].dtypes

Blood Pressure       int64
Cholesterol Level    int64
dtype: object

In [ ]:
df['Gender'] = df['Gender'].replace({'Male': 1, 'Female' : 0})

In [26]:
df['Gender']

0      0
1      0
2      0
3      1
4      1
      ..
344    0
345    1
346    1
347    0
348    0
Name: Gender, Length: 349, dtype: int64

In [ ]:
df['Outcome Variable'] = df['Outcome Variable'].replace({'Positive' : True, 'Negative': False})

In [24]:
df['Outcome Variable']

0       True
1      False
2      False
3       True
4       True
       ...
344     True
345     True
346     True
347     True
348     True
Name: Outcome Variable, Length: 349, dtype: bool

In [ ]:
X = ['Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age', 'Gender', 'Blood Pressure', 'Cholesterol Level'] # Features
y = ['Disease'] # Target